.details-container {
    border:2px solid black ;
    padding:10px;
    border-radius: 8px;
    margin-top: 20px;
}

 .row-data{
    padding-top:10px;
    margin-top:5px;

}
.headingColor
{
background-color:$blue;  
}
.headingTextColor
{
    color: white
}

.choosenHeading
{
    height: 30px;
    padding-top: 7px;
}

.spacingGlyphicon
{
margin-right:10px;
}

.forId
{
    padding-right: 50px;
}
.forNameEmail
{
    padding-right: 28px;
}

.forUsername{
    padding-right: 5px;
}

.forPhone
{
    padding-right: 24px;
}

.forWebsite
{
    padding-right:15px;
}