.userdetails{
    padding: 10px;
}

.details-container {
    border:2px solid black ;
    padding:10px;
    border-radius: 8px;
}

.headingColor
{
background-color:$blue;  
}

.imgHeight
{
   height: 30px;
}