 
<div class="userdetails details-container">
    <table class="table table-striped table-responsive">
      <thead>
        <tr class="headingColor">          
            <th class="headingTextColor"><i class="glyphicon glyphicon-th-list spacingGlyphicon"></i>User List</th>      
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="usr in $ctrl.users">
            <td><img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="imgHeight"><a href="javascript:void(0) " ng-click="$ctrl.getUser($index,$event)">{{usr.name}}</a></td>
        </tr>
    </tbody>
    </table> 
    <user-tile> </user-tile> 
</div>


